##############################################
##     TANGO DEFAULT VARS
##############################################
TANGO_ROOT={{ ansible_env.TANGO_ROOT }}
OMNI_ROOT={{ ansible_env.OMNI_ROOT }}
ZMQ_ROOT={{ ansible_env.ZMQ_ROOT }}
PYTANGO_ROOT={{ ansible_env.PYTANGO_ROOT }}
MYSQL_PASSWORD={{ ansible_env.MYSQL_PASSWORD }}
MYSQL_HOST={{ ansible_env.MYSQL_HOST }}
MYSQL_USER={{ ansible_env.MYSQL_USER }}

